NodeRed Flow (includes Pi Code)
[{"id":"6db4da50.8f9f04","type":"tab","label":"Crack Detection Demo","disabled":false,"info":""},{"id":"45a78fd3.dfb97","type":"ui_button","z":"6db4da50.8f9f04","name":"Bad Crack","group":"fdd3a60a.dddbc","order":1,"width":0,"height":0,"passthru":false,"label":"Single Crack","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.14285278320312,"y":135.71429443359375,"wires":[["26dbd879.870788"]]},{"id":"ef39d92.95853a8","type":"function","z":"6db4da50.8f9f04","name":"VR Inputs","func":"global.set(\"imgData\",msg.payload); \nglobal.set(\"fileName\",msg.filename);\nmsg.headers = { \"Content - Type \":\"image / jpeg \"};\nmsg.params = {classifier_ids:[\"CrackDetection_788286304\"],\n  owners:[\"me\",\"IBM\"],\n  threshold: 0.0\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":707.1428833007812,"wires":[["a497e50d.3d0cc8"]]},{"id":"a497e50d.3d0cc8","type":"visual-recognition-v3","z":"6db4da50.8f9f04","name":"Classify image","apikey":"e83c84b4e45da18d7d920a09439ed3ed78a336bc","image-feature":"classifyImage","lang":"en","x":493.3691711425781,"y":672.6904296875,"wires":[["52d6f058.969978"]]},{"id":"5e6c74d5.ec37dc","type":"ui_template","z":"6db4da50.8f9f04","group":"51e1b9cd.3a1028","name":"Analyzed Image","order":1,"width":"6","height":"4","format":"<img width=\"32\" height=\"32\" alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":false,"fwdInMessages":false,"x":1029.311767578125,"y":152.36109924316406,"wires":[[]]},{"id":"a849852b.8fdbf","type":"ui_button","z":"6db4da50.8f9f04","name":"Multiple Cracks Image","group":"fdd3a60a.dddbc","order":2,"width":0,"height":0,"passthru":false,"label":"Multiple Cracks","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180.35951232910156,"y":177.54761695861816,"wires":[["2f42b240.4f0986"]]},{"id":"763a624f.68bfe4","type":"ui_button","z":"6db4da50.8f9f04","name":"No Crack Image","group":"fdd3a60a.dddbc","order":3,"width":0,"height":0,"passthru":false,"label":"No Cracks","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":166.19283294677734,"y":221.38094329833984,"wires":[["4a793f14.143208"]]},{"id":"52d6f058.969978","type":"function","z":"6db4da50.8f9f04","name":"Retrieve VR Score for gauge","func":"var score = 0;\nif(msg.result.images[0].classifiers[0]){\n  var classes = msg.result.images[0].classifiers[0].classes; \n  score=classes[0].score;\n}\nmsg.payload = Math.round(score * 100);\nreturn msg;","outputs":1,"noerr":0,"x":742.1763916015625,"y":674.1758422851562,"wires":[["37376ec3.8eef6a","828c07d9.481a58"]]},{"id":"37376ec3.8eef6a","type":"ui_gauge","z":"6db4da50.8f9f04","name":"","group":"4ccd8e6b.e4c3c","order":2,"width":"6","height":"4","gtype":"gage","title":"","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1014.8570556640625,"y":600,"wires":[]},{"id":"38034f56.b2a8c8","type":"ui_button","z":"6db4da50.8f9f04","name":"Slight Crack Image","group":"fdd3a60a.dddbc","order":4,"width":0,"height":0,"passthru":false,"label":"Slight Cracks","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":172.97618865966797,"y":269.3184905052185,"wires":[["fa1f66f2.6bfec"]]},{"id":"1d8ec227.fd9236","type":"ui_button","z":"6db4da50.8f9f04","name":"Could Be Cracks Image","group":"fdd3a60a.dddbc","order":5,"width":0,"height":0,"passthru":false,"label":"Could Be Cracks?","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":182.14285278320312,"y":316.81849002838135,"wires":[["37a73487.5d5ccc"]]},{"id":"7eaf3f37.768b2","type":"comment","z":"6db4da50.8f9f04","name":"The blue buttons refer to buttons on the dashboard. Read images from file and display in the 'Analyzed Image' Template ","info":"","x":472.1428527832031,"y":77.3809642791748,"wires":[]},{"id":"4aa4309c.d97088","type":"comment","z":"6db4da50.8f9f04","name":"Set up for Visual Recognition Retrieve a Score from the classification and Display in a Gauge control","info":"","x":463.46581268310547,"y":761.0317726135254,"wires":[]},{"id":"26dbd879.870788","type":"os-get","z":"6db4da50.8f9f04","name":"Get Image From Objectstore","container":"Crack Detection","objectname":"badcrack.jpg","filepath":"","filename":"","mode":"1","osconfig":"e1610fd4.3836b","x":444.1428527832031,"y":126.71429443359375,"wires":[["2bb4acef.3accfc","ef39d92.95853a8"]]},{"id":"2f42b240.4f0986","type":"os-get","z":"6db4da50.8f9f04","name":"Get Image From Objectstore","container":"Crack Detection","objectname":"multiplecracks.jpg","filepath":"","filename":"","mode":"1","osconfig":"e1610fd4.3836b","x":445.1428527832031,"y":176.71429443359375,"wires":[["2bb4acef.3accfc","ef39d92.95853a8"]]},{"id":"4a793f14.143208","type":"os-get","z":"6db4da50.8f9f04","name":"Get Image From Objectstore","container":"Crack Detection","objectname":"nocrack.jpg","filepath":"","filename":"","mode":"1","osconfig":"e1610fd4.3836b","x":437.1428527832031,"y":230.71429443359375,"wires":[["2bb4acef.3accfc","ef39d92.95853a8"]]},{"id":"fa1f66f2.6bfec","type":"os-get","z":"6db4da50.8f9f04","name":"Get Image From Objectstore","container":"Crack Detection","objectname":"slightcrack.jpg","filepath":"","filename":"","mode":"1","osconfig":"e1610fd4.3836b","x":443.1428527832031,"y":278.71429443359375,"wires":[["2bb4acef.3accfc","ef39d92.95853a8"]]},{"id":"37a73487.5d5ccc","type":"os-get","z":"6db4da50.8f9f04","name":"Get Image From Objectstore","container":"Crack Detection","objectname":"couldbecrack.jpg","filepath":"","filename":"","mode":"1","osconfig":"e1610fd4.3836b","x":438.1428527832031,"y":333.71429443359375,"wires":[["2bb4acef.3accfc","ef39d92.95853a8"]]},{"id":"b4a53108.a6f9c8","type":"http request","z":"6db4da50.8f9f04","name":"","method":"GET","ret":"bin","url":"","tls":"","x":532.857177734375,"y":529.7619018554688,"wires":[["ef39d92.95853a8","2bb4acef.3accfc"]]},{"id":"bfc7028a.8ac79","type":"function","z":"6db4da50.8f9f04","name":"Pass URL","func":"msg.url = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":297.6191101074219,"y":388.333251953125,"wires":[["b4a53108.a6f9c8"]]},{"id":"87e440c3.65813","type":"comment","z":"6db4da50.8f9f04","name":"Display drone details and score on map","info":"","x":757.142822265625,"y":369.71429443359375,"wires":[]},{"id":"828c07d9.481a58","type":"function","z":"6db4da50.8f9f04","name":"Retrieve VR Scores and Drone Data","func":"var droneProps = {\n   \"name\" : \"drone-4\",\n   //Change Co-ordinates depending on where you are located!\n   //\"lat\" : \"51.0632\",\n   //\"lon\" : \"-1.308\",\n   \"lat\" : \"55.873543\",\n   \"lon\" : \"-4.289058\", \n   \"altitude\": 13.6,\n   \"battery\": 79,\n   \"speed\": 0.2,\n   \"weblink\" : {name:\"Click for image\", url: msg.url},\n   //Used for the WorldMap\n   \"icon\" :\"uav\",\n   \"iconColor\" :\"red\",\n   \"crack\" : 0\n};\n\n//Add randomize with fudge factor for variability\n\nvar tmp = parseFloat(droneProps.lat) + (Math.floor((Math.random() * 10) + 1)/500);\ndroneProps.lat = (Math.round(tmp * 100000)/100000).toString();\ntmp = parseFloat(droneProps.lon) + (Math.floor((Math.random() * 10) + 1)/500);\ndroneProps.lon = (Math.round(tmp * 100000)/100000).toString();\ndroneProps.altitude = droneProps.altitude + Math.round(((Math.random()*2-1)/3*10))/10;\ndroneProps.crack = msg.payload; \n\nvar classifiers  = msg.result.images[0].classifiers;\nvar classCount = msg.result.custom_classes;\nvar scores = { \"Cell_Tower\":0};\n\nvar className = \"\";\nvar score = 0;\nvar filePath = global.get(\"fileName\");\n\nnode.status({fill:\"green\",shape:\"dot\",text: \"Classifiers:\"+classCount});\n\nif (classCount > 0) { \n    for(var i =0 ;i<classCount;i++){\n        className = classifiers[0].classes[i].class;\n        score = classifiers[0].classes[i].score;\n        scores[className] = (score*100).toFixed(2);\n    }\n    \n    scores.latitude = droneProps.lat;\n    scores.longitude = droneProps.lon;\n    scores.battery = droneProps.battery;\n    scores.altitude = droneProps.altitude;\n    scores.speed = droneProps.speed;\n    \n    msg.payload = scores;\n}\nelse {\n    msg.payload = {};\n}\n\nreturn [msg,droneProps];\n","outputs":"1","noerr":0,"x":741.142822265625,"y":423.71429443359375,"wires":[["9b4a5113.5ee84","1d5dc00d.b1b3c"]]},{"id":"9b4a5113.5ee84","type":"debug","z":"6db4da50.8f9f04","name":"","active":true,"console":"false","complete":"payload","x":1010,"y":320,"wires":[]},{"id":"2fb68f12.987ff","type":"ui_text_input","z":"6db4da50.8f9f04","name":"Web image","label":"Web address for image","group":"fdd3a60a.dddbc","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":143.80950927734375,"y":359.7619323730469,"wires":[["bfc7028a.8ac79"]]},{"id":"2bb4acef.3accfc","type":"base64","z":"6db4da50.8f9f04","name":"","x":818.307861328125,"y":164.3848876953125,"wires":[["5e6c74d5.ec37dc"]]},{"id":"75b5c2ed.6eb114","type":"ui_button","z":"6db4da50.8f9f04","name":"","group":"fdd3a60a.dddbc","order":0,"width":0,"height":0,"passthru":false,"label":"Take a Picture","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":102.85711669921875,"y":408.5714416503906,"wires":[["dcaeb349.026c5"]]},{"id":"dcaeb349.026c5","type":"camerapi-takephoto","z":"6db4da50.8f9f04","filemode":"0","filename":"/tmp/full.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Photo","x":288.57147216796875,"y":441.4284973144531,"wires":[["2bb4acef.3accfc","ef39d92.95853a8"]]},{"id":"1d5dc00d.b1b3c","type":"wiotp out","z":"6db4da50.8f9f04","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"9cec368d.95b5c8","deviceType":"","deviceId":"","event":"drone-event","format":"json","qos":"","name":"drone event","x":1030,"y":440,"wires":[]},{"id":"fdd3a60a.dddbc","type":"ui_group","z":"","name":"Analyze Images","tab":"1a660429.11e88c","order":1,"disp":true,"width":"6"},{"id":"51e1b9cd.3a1028","type":"ui_group","z":"6db4da50.8f9f04","name":"Image to VR Service for Analysis","tab":"1a660429.11e88c","order":2,"disp":true,"width":"6"},{"id":"4ccd8e6b.e4c3c","type":"ui_group","z":"","name":"VR Score","tab":"1a660429.11e88c","order":3,"disp":true,"width":"6"},{"id":"e1610fd4.3836b","type":"os-config","z":"","cfgtype":"api","region":"london","projectId":"c24ae615aa0c4891af24594d8d6d5747","userId":"cf36fe9e120b4177b6b8a9dae145c019","userName":"admin_9d57cca798258ec37d4f569b12736949ef098d0d","password":"vW~7wcK4Lm~.LBau","name":"LonObjStorage"},{"id":"9cec368d.95b5c8","type":"wiotp-credentials","z":"","name":"","org":"ewhce0","serverName":"","devType":"DroneInspectionDevice","devId":"drone-4","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"1a660429.11e88c","type":"ui_tab","z":"6db4da50.8f9f04","name":"Crack Detection Demo","icon":"dashboard","order":1}]
